* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin: auto;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.container {
  max-width: 1600px;
  margin: auto;
  height: 100vh;
}

.game {
  display: flex;
  width: 100%;
}

.board {
  max-width: 600px;
  max-height: 600px;
    flex-grow: 1;

}

.stats {
  padding: 20px;
  flex-grow: 1;
}

.stats > ul {
  list-style: none;
}